$font-primary: "Montserrat", sans-serif;
$font-secondary: "Muli", sans-serif;


$color-one: #3B334A;
$color-two: #FFFFFF;
$color-three: #FB2B53;
$color-four: #655C98;
$color-five: #999CA2;
$color-six: #999CA2;
$color-seven: #B8BAB2;
