#footer {
  height: auto;
  background: darken($color-primary, 20%);
  width: 100%;
  height: 123px;
  @include clearfix();
  padding: 10px;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
  a {
    display: block;
    width: 68px;
    height: 103px;
    margin: 0 auto;
    background: url(../img/icon.png) no-repeat center center;
    overflow: hidden;
    text-indent: -999px;
  }
}

@media screen and (max-width: 991px){
  #footer {
    height: 72px;
  }
  #footer a {
    width: 34px;
    height: 52px;
    background-size: 34px auto;
  }
}
