#intro-home {
  width: 100%;
  text-align: center;
  font-family: $font-primary;
  font-weight: 400;
  position: relative;
  height: calc(100vh - 60px);
  min-height: 400px;
  z-index: 1;
  .wrap {
    display: table;
    margin: 0 auto;
    height: 300px;
    padding: 0 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    // background: #ccc;
    .wrap-valign {
      display: table-cell;
      vertical-align: middle;
      font-size: 22px;
      position: relative;
      .name {
        // font-family: $font-secondary;
        color: $color-five;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 4em;
        line-height: 1em;
      }
      &:before, &:after {
        position: absolute;
        top: 0;
        z-index: 0;
        height: 300px;
        line-height: 1em;
        font-size: 300px;
        color: $color-three;
        font-weight: 400;
      }
      &:before {
        content: "(";
        left: -100px;
      }
      &:after {
        content: ")";
        right: -100px;
      }
    }
  }
  ul {
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 20px auto 0;
    list-style: none;
    li {
      display: inline-block;
      margin: 0 3px;
      a {
        display: block;
        text-align: center;
        background: $color-one;
        color: white;
        width: 40px;
        height: 40px;
        line-height: 38px;
        border-radius: 50%;
        font-size: 18px;
        border: 1px solid transparent;
        @include transition(.2s all linear);
        &:hover {
          color: white;
          border-color: white;
          background: rgba(0,0,0,.2);
        }
      }
    }
  }
}

#main.pageHome {
  position: relative;
}
#main.pageHome:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: url(../img/bg-intro.jpg) $color-one no-repeat center center;
  background-size: cover;
  opacity: 0;
  will-change: opacity;
  @include transition(.5s all linear);
}

#main.pageHome.is-active {
  &:after { opacity: 1; }
  #intro-home .wrap,
  .wrap .wrap-valign .name,
  #intro-home .wrap .wrap-valign:before,
  #intro-home .wrap .wrap-valign:after {
    color: white;
    text-shadow: 0 0 20px rgba(0,0,0,.3);
  }
  #intro-home ul li a:not(:hover) {
    background: white;
    color: $color-one;
  }
}

@media screen and (max-width: 789px) {
  #intro-home {
    min-height: 250px;
  }
  #intro-home .wrap .wrap-valign {
    font-size: 11px;
  }
  #intro-home .wrap .wrap-valign:before, #intro-home .wrap .wrap-valign:after {
    font-size: 166px;
    height: 180px;
  }
  #intro-home .wrap .wrap-valign:before {
    left: -40px;
  }
  #intro-home .wrap .wrap-valign:after {
    right: -40px;
  }
  #intro-home .wrap {
    padding: 0 30px;
    height: 170px;
  }
  #intro-home ul {
    margin: 10px auto 0;
  }
  #intro-home ul li a {
    height: 35px;
    width: 35px;
    line-height: 34px;
  }
}
