.hero {
	width: 100%;
	overflow: hidden;
	background: url(../img/hero-one-bg.jpg);
	background-position: top center;
	background-size: cover;
	&.hero-intro {
		.wrap {
			position: relative;
			width: 1180px;
		}
		.site-title {
			font-weight: 900;
			font-size: 122px;
			text-transform: uppercase;
		}
	}	
}