// my mixins
// by @ogilvieira

@mixin transition( $time, $attr, $animation ){
	transition: $time $attr $animation;
	-webkit-transition: $time $attr $animation;
	-moz-transition: $time $attr $animation;
	-ms-transition: $time $attr $animation;
	-o-transition: $time $attr $animation;
}
@mixin resetbtn(){
	display: inline-block;
	border-radius: 0;
	opacity: 1;
	background-image: none;
	box-sizing: border-box;
	border: 0;
	appearance: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	margin: 0;
	padding: 0;
}

@mixin gradient($color1, $color2){
	background: $color1; /* Old browsers */
	background: -moz-linear-gradient(top,  $color1 0%, $color2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  $color1 0%,$color2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  $color1 0%,$color2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  $color1 0%,$color2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  $color1 0%,$color2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color1}', endColorstr='#{$color2}',GradientType=0 ); /* IE6-9 */	
}

@mixin placeholder($color){
	&::-webkit-input-placeholder {
	   color: $color;
	   opacity: 1;
	}

	&:-moz-placeholder { /* Firefox 18- */
	   color: $color;
	   opacity: 1;  
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   color: $color;
	   opacity: 1;  
	}

	&:-ms-input-placeholder {  
	   color: $color;
	   opacity: 1;  
	}	
}

@mixin noselect() {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
}