.hero-about-contact {
	.header {
		width: 100%;
		background: transparent;
		height: 300px;
		position: relative;
		.title {
			position: absolute;
			top: 50%;
			left: 50%;
			
			width: 486px;
			height: 46px;
			margin-top: -(46px/2);
			margin-left: -(486px/2);

			background: url(../img/title-about-contact.png);
			overflow: hidden;
			text-indent: -999px;
		}
	}
	.content {
		padding: 50px;
		overflow: hidden;
		.avatar {
			overflow: hidden;
			border-radius: 100%;
			width: 218px;
			height: 218px;
			margin: 0 auto;
			img {
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
			}
		}
		.text-about {
			margin-top: 50px;
			p {
				text-align: center;
				font-size: 24px;
				line-height: 32px;
				strong {
					font-weight: 700;
				}
			}
			hr {
				width: 60px;
				border: 0;
				border-top: 1px solid #525252;
				margin: 20px auto;
			}
		}
	}
}

@media screen and (max-width: 719px) {
	.hero-about-contact .header .title {
		width: (486px/2);
		height: (46px/2);
		background-size: (486px/2) (46px/2);
		margin-top: -(46px/4);
		margin-left: -(486px/4);

	}
}