<header id="header">
  <div class="container-fluid">
    <div class="col-xs-6">
      <a href="{{ site.url }}" class="brand" title="Gil Vieira | Desenvolvedor Front-End">
        <span class="icon icon-g"></span>
        <span class="brandname">Gil Vieira</span>
      </a>
    </div>
    <div class="col-xs-6">
      <nav>
      <button class="btn btn-menu pull-right"><i class="ion ion-android-menu"></i></button>
      <ul>
        <li><a href="#">Início</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Projetos</a></li>
      </ul>
      </nav>
    </div>
  </div>
</header>
