<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ site.title | append: ' - ' | append: page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
	<meta name="robots" content="index, follow">
	<meta name="keywords" content="{{site.keywords}}"/>

  <meta property="og:locale" content="pt_BR">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:url" content="{{ page.url | prepend: site.url }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:image" content="{{ "/share.png" | prepend: site.url }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <!--Favicon-->
	<link rel="shortcut icon" href="{{ "/favicon.png" | prepend: site.url }}">
  <meta name="theme-color" content="#3e3977">
  <!-- Google Analytics -->
  {% if site.google_analytics %}
    {% include vendor/ga.html %}
  {% endif %}

  <style>
    @import 'https://fonts.googleapis.com/css?family=Ubuntu:400,700';
  </style>
</head>