<!-- classes: menu-open is-active -->
<aside id="nav">
  <div class="container">
    <div class="col-lg-12">
      <a href="{{ site.url }}" class="brand">Gil Vieira</a>
      <button class="btn-menu hidden-sm hidden-md hidden-lg">M</button>
      <nav class="menu">
        <ul class="toplinks">
          <li><a href="{{ site.url }}" title="Home">Ogilvieira</a></li>
          <li><a href="{{ "/blog" | prepend: site.baseurl }}" {% if page.domain == 'blog' %}class="active"{% endif %}>Blog</a></li>
          <li><a href="{{ "/projetos" | prepend: site.baseurl }}" {% if page.domain == 'projetos' %}class="active"{% endif %}>Projetos</a></li>
          <li><a href="https://medium.com/@ogilvieira/latest" target="_blank">Medium</a></li>
        </ul>
        <ul class="social">
          <li><a href="http://www.twitter.com/ogilvieira" target="_blank" title="twitter"><i class="ion"></i>T</a></li>
          <li><a href="https://br.linkedin.com/in/ogilvieira" target="_blank" title="linkedin"><i class="ion"></i>L</a></li>
          <li><a href="http://www.github.com/ogilvieira" target="_blank" title="github"><i class="ion"></i>G</a></li>
          <li><a href="http://www.facebook.com/ogilvieira" target="_blank" title="facebook"><i class="ion"></i>F</a></li>
        </ul>
      </nav>
    </div>
  </div>
</aside>
