body {
  background-color: #131313;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: white; }

.hero.hero-intro {
  width: 100%;
  overflow: hidden;
  background: transparent;
  background-size: cover;
  position: relative; }
  .hero.hero-intro .wrap {
    position: relative;
    width: 1180px;
    margin: 0 auto; }
  .hero.hero-intro .content {
    width: 447px;
    height: 241px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -120px; }
  .hero.hero-intro .site-title {
    display: block;
    text-transform: uppercase;
    background: url(../img/site-title.png) no-repeat top center;
    width: 447px;
    height: 207px;
    text-indent: -999px;
    overflow: hidden; }
  .hero.hero-intro .site-subtitle {
    text-transform: uppercase;
    margin-top: 18px;
    width: 447px;
    height: 16px;
    overflow: hidden;
    text-indent: -999px;
    background: url(../img/site-subtitle.png) no-repeat top right; }
  .hero.hero-intro .btn-go-to-content {
    display: inline-block;
    border-radius: 0;
    opacity: 1;
    background-image: none;
    box-sizing: border-box;
    border: 0;
    appearance: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 42px;
    height: 42px;
    font-size: 42px;
    line-height: 42px;
    margin-left: -21px;
    background: transparent;
    color: white;
    transition: 0.1s all linear;
    -webkit-transition: 0.1s all linear;
    -moz-transition: 0.1s all linear;
    -ms-transition: 0.1s all linear;
    -o-transition: 0.1s all linear; }
    .hero.hero-intro .btn-go-to-content:hover {
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2); }

@media screen and (max-width: 1199px) {
  .hero.hero-intro .wrap {
    width: 960px; } }
@media screen and (max-width: 959px) {
  .hero.hero-intro .wrap {
    width: 720px; }

  .hero.hero-intro .btn-go-to-content {
    bottom: 30px; } }
@media screen and (max-width: 719px) {
  .hero.hero-intro .wrap {
    width: 100%; }
    .hero.hero-intro .wrap .content {
      width: 100%;
      height: 121px;
      margin-top: -60.5px; }
    .hero.hero-intro .wrap .site-title {
      width: 224px;
      background-size: 224px 104px;
      height: 104px;
      margin: 0 auto; }
    .hero.hero-intro .wrap .site-subtitle {
      width: 224px;
      height: 8px;
      background-size: 158px 8px;
      margin: 10px auto 0;
      background-position: top right; } }
.hero.hero-portfolio {
  width: 100%;
  overflow: hidden;
  padding: 50px 0; }
  .hero.hero-portfolio .brand-icon {
    display: block;
    margin: 0 auto;
    background: url(../img/logo-gradient.png) no-repeat top center;
    width: 66px;
    height: 100px;
    overflow: hidden;
    text-indent: -9999px;
    margin-bottom: 50px; }
  .hero.hero-portfolio .work-list {
    overflow: hidden;
    width: 100%; }
    .hero.hero-portfolio .work-list .work-item {
      width: 280px;
      height: 280px;
      overflow: hidden;
      position: relative;
      display: block;
      color: inherit;
      text-decoration: none;
      border-radius: 10px;
      margin-bottom: 20px; }
      .hero.hero-portfolio .work-list .work-item:before {
        content: "";
        display: block;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        transition: 0.2s all linear;
        -webkit-transition: 0.2s all linear;
        -moz-transition: 0.2s all linear;
        -ms-transition: 0.2s all linear;
        -o-transition: 0.2s all linear; }
      .hero.hero-portfolio .work-list .work-item .image {
        width: 280px;
        height: 280px; }
        .hero.hero-portfolio .work-list .work-item .image figure {
          width: 280px;
          height: 280px;
          display: table-cell;
          vertical-align: middle; }
          .hero.hero-portfolio .work-list .work-item .image figure img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            -webkit-filter: grayscale(1);
            filter: grayscale(1); }
      .hero.hero-portfolio .work-list .work-item .title {
        position: absolute;
        width: 100%;
        height: 70px;
        top: 50%;
        margin-top: -35px;
        background-position: center center;
        text-align: center;
        line-height: 70px;
        z-index: 3;
        transition: 0.2s all linear;
        -webkit-transition: 0.2s all linear;
        -moz-transition: 0.2s all linear;
        -ms-transition: 0.2s all linear;
        -o-transition: 0.2s all linear; }
        .hero.hero-portfolio .work-list .work-item .title[style] {
          background-position: center;
          background-repeat: no-repeat;
          overflow: hidden;
          text-indent: -999px;
          background-size: auto 70px; }
      .hero.hero-portfolio .work-list .work-item .description {
        width: 100%;
        position: absolute;
        box-sizing: border-box;
        bottom: 0;
        z-index: 2;
        padding: 20px;
        text-align: left;
        transition: 0.2s all linear;
        -webkit-transition: 0.2s all linear;
        -moz-transition: 0.2s all linear;
        -ms-transition: 0.2s all linear;
        -o-transition: 0.2s all linear;
        background: -moz-linear-gradient(top, transparent 0%, transparent 1%, black 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(1%, transparent), color-stop(100%, black));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, transparent 0%, transparent 1%, black 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, transparent 0%, transparent 1%, black 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, transparent 0%, transparent 1%, black 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, transparent 0%, transparent 1%, black 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
        /* IE6-9 */ }
        .hero.hero-portfolio .work-list .work-item .description .collaboration {
          display: block;
          font-size: 18px;
          line-height: 21px;
          font-weight: 700; }
        .hero.hero-portfolio .work-list .work-item .description .month-year {
          font-size: 12px;
          line-height: 14px;
          font-weight: 300; }
      .hero.hero-portfolio .work-list .work-item:hover:before, .hero.hero-portfolio .work-list .work-item:hover .description {
        opacity: 0; }
      .hero.hero-portfolio .work-list .work-item:hover .title {
        top: -35px; }
      .hero.hero-portfolio .work-list .work-item:hover .image figure img {
        -webkit-filter: grayscale(0);
        filter: grayscale(0); }

@media screen and (max-width: 1199px) {
  .hero.hero-portfolio .work-list .work-item, .hero.hero-portfolio .work-list .work-item .image, .hero.hero-portfolio .work-list .work-item .image figure {
    width: 220px;
    height: 220px; } }
@media screen and (max-width: 959px) {
  .hero.hero-portfolio .work-list .container-12 .grid-3 {
    width: 220px; } }
@media screen and (max-width: 719px) {
  .hero.hero-portfolio .work-list .work-item, .hero.hero-portfolio .work-list .work-item .image, .hero.hero-portfolio .work-list .work-item .image figure {
    width: 280px;
    height: 280px; }

  .hero.hero-portfolio .work-list .container-12 {
    text-align: center; }
    .hero.hero-portfolio .work-list .container-12 .grid-3 {
      width: 280px;
      margin: 10px;
      display: inline-block;
      float: none; } }
@media screen and (max-width: 672px) {
  .hero.hero-portfolio .work-list .container-12 .grid-3 {
    display: block;
    width: 100%;
    margin: 0; }
    .hero.hero-portfolio .work-list .container-12 .grid-3 .work-item {
      margin: 20px auto; } }

/*# sourceMappingURL=app.css.map */
