<!DOCTYPE html>
<html lang="pt-br">
  {% include structure/head.html %}
<body>
  <div class="pageloading"></div>
  {% include structure/header.html %}
  <main id="main" class="{{ page.pageClass }} Blastoise">
  {{ content }}
  </main>
  {% include structure/footer.html %}
  {% if site.production == false %}
  {% for file in site.data.assets.scripts %}
  <script src="{{ file }}"></script>{% endfor %}
  {% else %}
  <script src="{{ "js/app.min.js" | prepend: site.baseassets }}"></script>
  {% endif %}
</body>
</html>
