<!DOCTYPE html>
<html lang="pt-br">
  {% include structure/head.html %}
<body class="is-loading">
  <div class="pageloading"></div>
  {% if page.domain != 'home' %}
  {% include structure/header.html %}
  {% else %}
  {% include structure/header-home.html %}
  {% endif %}
  {% include structure/nav.html %}
  <div id="content">
  {{ content }}
  </div>
  {% include structure/footer.html %}
</body>

  {% if site.production == false %}
  {% for file in site.data.assets.stylesheet.file %}
    <link rel="stylesheet" href="{{ file }}">
  {% endfor %}
  {% for file in site.data.assets.javascript.file %}
  <script src="{{ file }}"></script>
  {% endfor %}
  {% else %}
  <link rel="stylesheet" href="{{ "css/app.min.css" | prepend: site.baseassets }}" media="none" onload="if(media!='all')media='all'">
  <noscript><link rel="stylesheet" href="{{ "css/app.min.css" | prepend: site.baseassets }}" media="all"></noscript>
  <script type="{{ "js/app.min.js" | prepend: site.baseassets }}"></script>
  {% endif %}
</html>
